
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Add an orangebackground color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: orange;
  height: 100px;
}


/* Style the links inside the navigation bar*/
.topnav a{
  margin-top:20px;
  font-size: 20px;
  text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}

/*Style the logo image*/
.topnav #logo{
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  width: 150px;
}

/* Change the color of links on hover*/
.topnav a:hover {
  background-color: orange;
  color: white;
}

/*the profil icon*/
.topnav #profil{
  width: 50px;
  height: 50px;
  margin-top: -8px;

}

#profil:hover{
  background-color: white;
}

/* Style the search box inside the navigation bar */
.topnav .searchbar {
  float: right;
  border: none;
  margin-right: 10px;
  font-size: 10px;
  margin-top:10px;
}

h1{  /*είσαι...*/
  font-size: 25px;
  color: orange;
  padding-top: 30px;
}

/*style the student column*/
.column1{
  width: 25%;
  color: #8B0000;
  font-size: 23px;
  padding: 10px;
  float: left;
}

#imgstudent{
  width:200px;
  height:200px;
}
.column1 a{
  padding-top: 15px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #8B0000;

}

.column1 a:hover {
  background-color: white;
  color: #DC143C;
}

/*style the university column*/
.column2{
  width: 25%;
  color: #4B0082;
  font-size: 23px;
  padding: 10px;
  float:left;
}

#imguniversity{
  width:200px;
  height:200px;
}
.column2 a{
  padding-top: 15px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #4B0082;

}

.column2 a:hover {
  background-color: white;
  color: #800080;
}


/*style the publisher column*/
.column3{
  width: 25%;
  color: #191970;
  font-size: 23px;
  padding: 10px;
  float:left;
}

#imgbook{
  width:200px;
  height:200px;
}
.column3 a{
  padding-top: 15px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #191970;

}

.column3 a:hover {
  background-color: white;
  color:  	#4169E1;
}


/*style the bookstore column*/
.column4{
  width: 25%;
  color: #006400;
  font-size: 23px;
  padding: 10px;
  padding-right: 0px;
  float: right;
  margin-top: -470px;
}

#imgbookstore{
  width:200px;
  height:200px;
}
.column4 a{
  padding-top: 15px;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #006400;

}

.column4 a:hover {
  background-color: white;
  color:  #32CD32;
}

/*style the footer*/
.footer{
  display: inline-block;
  margin: auto;
  padding-left: 400px;
  list-style: none;
}

.footer img{
  padding: 0px;
  width: 40%;
}

.footer li  {
  list-style: none;
  float: left;
}

</style>
